html{
	background-color: #F5F5F5;
}
#first-container{
	margin-top:100px;
	text-align: center;
	margin-bottom: 50px;
}
#logo{
	margin-top: -50px;
}
#second-container{
	margin-bottom: 50px;
}
#first-container-normal{
	margin-top:20px;
	text-align: center;

}
.container{
	padding-bottom: 30px;
}
tfoot {
    display: table-header-group;
}